/MobileSafe/bin

/MobileSafe/gen

/MobileSafe/out

/MobileSafe/.classpath

/MobileSafe/.classpath

/MobileSafe/.project

/MobileSafe/project.properties

/MobileSafe/proguard-project.txt

/MobileSafe/.settings
/MobileSafe/out
